{% extends "admin/base_site.html" %}
{% load compressed i18n staticfiles %}

{% block title %}{% trans "Manage Integrations" %} {{block.super}}{% endblock %}

{% block extrahead %}
{% include "js/jquery.html" %}
{% include "js/underscore.html" %}
{% include "js/backbone.html" %}
{% compressed_js "integrations" %}
{{block.super}}
{% endblock %}

{% block content %}

<h1 class="title">{% trans "Manage Integrations" %}</h1>

<div id="content-main">
  <form id="integration-manager" method="POST" action=".">
    <ul class="integrations"></ul>
  </form>
</div>

<script>
    $(document).ready(function() {
        var view = new IntegrationManagerView({
            el: $('#integration-manager'),
            model: new IntegrationManager()
        });

        view.render();
    });
</script>

{% endblock %}