/****************************************************************************
 * Integration manager
 ****************************************************************************/

.arrow {
  width: 0; 
  height: 0; 

  display: inline-block;
  margin-left: 10px;

  &.right {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
  }

  &.down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
}

#integration-manager {
  .actions {
    background: #FDFDFD;
    border: 1px #AAAAAA solid;
    border-top: 0;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        color: #0000FF;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.integration-header {
  padding-top: 10px;
  margin-bottom: 10px;
}

.integration-icon {
  height: 36px;
  width: 36px;
  margin-left: 10px;
  float: left;
}

.integration-content {
  padding-left: 20px; 
  float: left;
}

.integration-list-page {
  #content-main {
    float: left;
    width: 100%;
  }
}

.integrations {
  border: 1px #AAAAAA solid;
  border-bottom: 0px;
  border-top: 0;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding-bottom: 10px;
    position: relative;
  }

  .integration {
    border-bottom: 1px #AAAAAA solid;

    h1 {
      font-size: 120%;
      margin: 0;
    }

    .description {
      margin: 0.5em 10em 1em 0em;
      padding: 0;
      float: left;
    }

    .expand {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .integration-header {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #888A85;
    }

    .configured-integrations {
      padding-left: 0px;
      padding-top: 5px;

      .configured-integration {
        display: block;
        width: 90%;
        margin: 0px auto;
        padding-top: 10px;
        padding-left: 36px;
      }

      .configured-header {
        padding-bottom: 20px;
      }

      .description {
        margin: 0px;
      }

      .options {
        position: absolute;
        padding-top: 10px;
        top: 0px;
        right: 10px;

        .option {
          padding-right: 10px;
          display: inline-block;
        }
      }
    }
  }
}
